spring:
  datasource:
    # postgures
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL:jdbc:postgresql://localhost:35432/cambio_service}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    platform: postgresql
    # hikari
#    hikari:
#      idle-timeout: 10000
#      minimum-idle: 2
#      maximum-poll-size: 10

    jpa:
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
      hibernate:
        ddl-auto: update
      show-sql: true

    #flyway
    flyway:
      url: ${DB_URL_FLYWAY:jdbc:postgresql://localhost:35432/}
      schemas: cambio_service
      user: ${DB_USER:postgres}
      password: ${DB_PASSWORD:postgres}