spring:
  datasource:
    # postgures
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL:jdbc:postgresql://localhost:35432/book_service}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    platform: postgresql
  jackson:
    default-property-inclusion: NON_NULL
    serialization:
      fail-on-empty-beans: false

    # hikari
    #    hikari:
    #      idle-timeout: 10000
    #      minimum-idle: 2
    #      maximum-poll-size: 10

    jpa:
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
      hibernate:
        ddl-auto: update
      show-sql: true

    #flyway
    flyway:
      url: ${DB_URL_FLYWAY:jdbc:postgresql://localhost:35432/}
      schemas: book_service
      user: ${DB_USER:postgres}
      password: ${DB_PASSWORD:postgres}